[phases.setup]
aptPkgs = ["libgl1", "libglib2.0-0", "libsm6", "libxext6", "libxrender1", "libgomp1"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn flask_app:app --bind 0.0.0.0:$PORT"
